<script language="JavaScript">
    function ChangeUrl(formulaire) {
        if (formulaire.ListeUrl.selectedIndex != 0) {
            var url;
            url = formulaire.ListeUrl.options[formulaire.ListeUrl.selectedIndex].value;
            window.open(url, '_blank');
        }
    }
</script>


<div class="col-12" style="text-align: center;">
<div class="mb-3"><img src="img/logoT.gif" style="width:100px;
    margin-top: 5px;"alt="">
</div>




<div class="row">

<div class="col-12">
<section class="main clearfix">

    <FORM>
        
            <SELECT id="cd-dropdown" class="cd-select" NAME="ListeUrl" SIZE=1 onChange="ChangeUrl(this.form)">
                <OPTION SELECTED VALUE="{{path ('home')}}">La Fabuleuse Histoire de Lou</option>
                <option value="{{path ('conte')}}">Le Conte</option>
                <option value="{{path ('music')}}">La Musique</option>
                <option value="{{path ('illustration')}}">Les Illustrations</option>
                <option value="{{path ('photos')}}">Vos Photos</option>
                <option value="{{path ('a_propos')}}">&Agrave Propos</option>
                <option value="{{path ('livre_or')}}">Livre d'Or</option>
                <option value="{{path ('contact')}}">Contact</option>

            </SELECT>
        </div>
    </FORM>
</section>


</div>
</div>



<hr class="mt-4">

<script type="text/javascript">
    $(function () {
       $('#cd-dropdown').dropdown({
            gutter: 5,
            delay: 100,
            random: true,
            onOptionSelect: function (opt) {
                window.location = opt.data('value');
            }
        });
    });
</script>