{% extends 'base.html.twig' %}
{% block title %}Vos Photos{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row" style="margin-bottom:40px;margin-top: 40px;">
        <div class="col-lg-4"></div>
        <div style="text-align:center"class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center">
    
<a href="{{path ('photos_Form')}}"><button class="btn btn-primary"type="button"> Ajoutez vos photos</button></a>
</div>
        <div class="col-lg-4"></div>
    </div>
    <hr />
    <div class="row">
        {% for albums in album %}
        <div class="card border-primary m-1 mb-3" style="min-width: 49%;margin:5px auto!important">
           <div class="card-header">{{albums.title}}
           <div class="text-muted card-subtitle text-truncate mt-1"style="margin-left: -2px;"> <h6>{{albums.comment}}</h6></div>
           </div>
         
            <div class="card-body">
                <h4 class="card-title "><img class="rounded mx-auto d-block img-fluid ;" style="width:250px;max-height: 400px;"
                    src="{{app.request.basepath}}/uploads/img/{{albums.imageName}}" alt=""></h4>                        
            </div>            
        </div>
        {% endfor %}
    </div>
</div>
    {% include "partials/footer.html.twig" %}
{% endblock %}